.orderSection{
    height: 100vh;
    position: relative;
    background: url(img/ordersec.svg);
    background-position-y: 90%;   
    background-position-x: 90%;     
    background-size: 25%;    
    background-repeat: no-repeat;

    &-price-box{  
        text-align: center;
        position: absolute;
        display: flex;
        flex-direction: column;
        top:20%; 
        left: 50%;
        transform: translate(-50%);
        width: 100%;    

    }
    &-list{
        display: flex;
        flex-direction: row ;
        text-align: center; 
        justify-content: center;
        flex-wrap: wrap;
        & li{  
            z-index: 1;
            display: flex;
        flex-direction: column; 
            text-align: center;
            list-style: none;
            align-self: center; 
            border-radius: 25px; 
            margin: 5px 15px; 
            padding: 10px 20px;  
            height: 190px;        
            width: 200px;  
            -webkit-box-shadow: -2px 0px 19px -6px rgba(0,0,0,0.75); 
            -moz-box-shadow: -2px 0px 19px -6px rgba(0,0,0,0.75);
            box-shadow: -2px 0px 19px -6px rgba(0,0,0,0.75);

        }
        &-icon{ 
            align-self: center; 
            height: 90px;   
        }
    }
} 
